<div class='form-box'>

<h1 class='new-header'>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name, autofocus: true %>
    <p class='error'><%= show_errors(resource, 'First name') %></p>

    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name %>
    <p class='error'><%= show_errors(resource, 'Last name') %></p>

    <%= f.label :email %><br />
    <%= f.email_field :email %>
    <p class='error'><%= show_errors(resource, 'Email') %></p>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <p class='error'><%= show_errors(resource, 'Password') %></p>

    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <p class='error'><%= show_errors(resource, 'Password confirmation') %></p>
    <br>

    <div class="submit-container">
      <%= f.submit id: "Sign Up" %>
    </div>
<% end %>
<br/>
<p class='text-center'>Already a member? <%= render "devise/shared/links" %></p>
</div>
