<h1> Edit Your Profile </h1>

<%= form_for @user do |f| %>

  <%= f.label :email, "Email" %>
  <%= f.email_field :email, autofocus: true, :input_html => { :value => @user.email } %>

  <%= f.label :profile_pic_url, "Avatar" %>
  <%= f.text_field :profile_pic_url %>

  Or you can upload your own avatar!
  <%= f.label :avatar, "Avatar Upload" %>
  <%= f.file_field :avatar %>

  Delete my avatar
  <%= check_box_tag "delete-avatar", "1"%><br/>

  <%= f.submit "Update Profile", :id=>"Update Profile" %>
<% end %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
