<h1> <%= @user.first_name %> <%= @user.last_name %> </h1>

<% binding.pry %>
<% if @user.avatar.medium.url === nil %>
  <img src= "<%= @user.avatar_url %>" />
<% else %>
  <%= image_tag @user.avatar.thumb.url %>
<% end %>

<h3> <%= @user.email %> </h3>

<% if @reviews.size > 0 %>
  <h3>My Reviews</h3>
  <% @reviews.each do |review| %>
    <div class="row">
      <div class="columns small-1">
        <strong>Votes: </strong>
        <% total_upvotes = Vote.where({ review_id: review.id, up_or_down: "upvote" }).size %>
        <% total_downvotes = Vote.where({ review_id: review.id, up_or_down: "downvote" }).size %>
        <%= total_upvotes - total_downvotes %>
      </div>
      <div class="columns small-1">
        <% this_vote = Vote.find_by(user: @user, review: review) %>
        <% if !this_vote %>
          <%= link_to 'Upvote',
            votes_path(:vote => { user_id: @user.id, review_id: review.id, up_or_down: "upvote"}), method: :post %><br/>
          <%= link_to 'Downvote',
            votes_path(:vote => { user_id: @user.id, review_id: review.id, up_or_down: "downvote"}), method: :post %>
        <% elsif this_vote.up_or_down === "upvote" %>
          <%= link_to 'Upvoted', vote_path(this_vote), method: :delete %><br/>
          <%= link_to 'Downvote', vote_path(this_vote), method: :put %>
        <% elsif this_vote.up_or_down === "downvote" %>
          <%= link_to 'Upvote', vote_path(this_vote), method: :put %><br/>
          <%= link_to 'Downvoted', vote_path(this_vote), method: :delete %>
        <% end %>
      </div>
      <div class="columns small-8">
        <p>
          <%= review.title %><br />
          <%= review.created_at.strftime("%B %d %Y") %><br />
          <% if review.cost %>
            Cost: <%= review.cost %><br />
          <% end %>
          <% if review.sound_quality %>
            Sound Quality: <%= review.sound_quality %><br/>
          <% end %>
          <% if review.parking %>
            Parking/Accessibility <%= review.parking %><br />
          <% end %>
          <%= review.body %>
        </p>
      </div>
      <div class="columns small-2">
      <% if !current_user.admin? %>
        <%= link_to 'Edit Review', edit_review_path(review) %><br/>
      <% end %>
      <% if current_user === @user %>
        <%= link_to 'Edit Review', edit_review_path(review) %><br/>
      <% end %>
        <%= link_to 'Delete Review', review_path(review), method: :delete %>
      </div>
    </div>
  <% end %>
<% end %>

<% if !current_user.admin? || current_user === @user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %></br>
<% end %>

<% if !current_user.admin? %>
  <%= link_to "Delete Account", user_registration_path, :method => :delete %>
<% end %>
<% if current_user.admin? %>
  <%= link_to "Delete Account", user_path, :method => :delete %>
<% end %>
