<div class="row">
  <!-- Top banner dispay of UserName/Avatar/Email -->
  <h1 class='small-10 medium-3 columns text-left profile-header'> <%= @user.first_name %> <%= @user.last_name %> </h1>
  <% if @user.avatar.medium.url === nil %>
    <img src= "<%= @user.profile_pic_url %>" />
  <% else %>
    <%= image_tag @user.avatar.thumb.url %>
  <% end %>
</div>
<div class='row'>
  <h1 class='small-10 medium-3 columns text-right profile-email'> <%= @user.email %> </h1>
</div>
<!-- ADMIN CONTROLS - - Edit | Delete Profile -->
<div class="row">
  <div class="columns small-10 medium-4 text-center">
    <br/>
    <% if !current_user.admin? || current_user === @user %>
      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'button float-left' %>
      <%= link_to "Delete Your Account", user_registration_path, :method => :delete, class: 'button' %>
    <% elsif current_user.admin? %>
      <%= link_to "Delete Users Account", user_path, :method => :delete, class: 'button' %>
    <% end %>
  </div>
</div>

<% if @reviews.size > 0 %>

  <!-- Users Review Header -->
  <div class="row">
    <br/>
    <h3 class='small-12 columns text-left profile-header'><strong>My Reviews</strong></h3>
    <div class='small-12 columns'>
      <hr/>
    </div>
  </div>

  <!-- List of all reviews tied to this user (Total Vote Score, Title, Date, Ratings, Content)-->
  <% @reviews.each do |review| %>

    <div class="row venue-showpage-details">
      <div class="small-2 columns medium-1 text-center">
        <strong>Votes:</strong>
        <% total_upvotes = Vote.where({ review_id: review.id, up_or_down: "upvote" }).size %>
        <% total_downvotes = Vote.where({ review_id: review.id, up_or_down: "downvote" }).size %>
        <span class='votes-number'><%= total_upvotes - total_downvotes %></span>
      </div>

      <!-- Listing of Review Title and Date Created -->
      <div class="columns small-5">
        <p>
          <span class='review-title'><%= review.title %></span><br />
          <span class='review-timestamp'><%= review.created_at.strftime("%B %d %Y") %></span><br />
          <% if review.cost %>
            <span class='review-radio'>Cost:</span>   <span class='review-radio-content'><%= review.cost %></span><br />
          <% end %>
          <% if review.sound_quality %>
            <span class='review-radio'>Sound:</span> <span class='review-radio-content'><%= review.sound_quality %></span><br/>
          <% end %>
          <% if review.parking %>
            <span class='review-radio'>Parking</span> <span class='review-radio-content'><%= review.parking %></span><br />
          <% end %>
          <%= review.body %>
        </p>
      </div>

      <!-- Edit and Delete Buttons (Edit is only for ADMIN) -->
      <% if current_user === @user %>
        <div class="columns small-10 medium-3 text-center">
          <%= link_to 'Edit Review', edit_review_path(review), class: 'button float-left'  %>
          <%= link_to 'Delete Review', review_path(review), method: :delete, class: 'button float-right'  %>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
<% end %>

<% if !current_user.admin? %>
  <%= link_to "Delete Account", user_registration_path, :method => :delete %>
<% end %>
<% if current_user.admin? %>
  <%= link_to "Delete Account", user_path, :method => :delete %>
<% end %>
