<div class='form_box'>

<h1 class='new_venue_header'>Add a Venue</h1>

<%= form_for @venue, :html => { :class => 'venue_form'} do |f| %>

  <% if @venue.errors.any? %>
    <% @venue.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <%= f.label :name, "Name"%>
  <%= f.text_field :name, :autofocus=>true%>

  <%= f.label :url, "Website" %>
  <%= f.text_field :url %>

  <%= f.label :address, "Address" %>
  <%= f.text_field :address %>

  <%= f.label :city, "City" %>
  <%= f.text_field :city %>

  <%= f.label :state, "State" %>
  <%= f.collection_select :state, @state_collection, :first, :last %>

  <%= f.label :zip, "Zip" %>
  <%= f.text_field :zip %>

  <%= f.label :capacity, "Capacity" %>
  <%= f.text_field :capacity %>
  <br>

  <div class='submit_container'>
    <%= f.submit :id=>"create_venue" %>
  </div>
<% end %>
</div>


<!--

    <label class="error">Error
       <input type="text" class="error" />
    </label>
    <small class="error">Invalid entry</small> -->
