<div class='form-box'>

<<<<<<< HEAD
<h1>New Venue Form</h1>

<%= render 'form', locals: {
  venue: @venue,
  state_collection: @state_collection
} %>
=======
<h1 class='new-header'>New Venue Form</h1>

<%= form_for @venue, :html => { :class => 'venue-form'} do |f| %>

  <%= f.label :name, "Name"%>
  <%= f.text_field :name, :autofocus=>true %>
  <p class='error'><%= show_errors(@venue, 'Name') %></p>

  <%= f.label :url, "Website" %>
  <%= f.text_field :url %>
  <p class='error'><%= show_errors(@venue, 'Url') %></p>

  <%= f.label :address, "Address" %>
  <%= f.text_field :address %>
  <p class='error'><%= show_errors(@venue, 'Address') %></p>

  <%= f.label :city, "City" %>
  <%= f.text_field :city %>
  <p class='error'><%= show_errors(@venue, "City") %></p>

  <%= f.label :state, "State" %>
  <%= f.collection_select :state, @state_collection, :first, :last %>
  <p class='error'><%= show_errors(@venue, 'State') %></p>

  <%= f.label :zip, "Zip" %>
  <%= f.text_field :zip %>
  <p class='error'><%= show_errors(@venue, 'Zip') %></p>

  <%= f.label :capacity, "Capacity" %>
  <%= f.text_field :capacity %>
  <br>

  <div class='submit-container'>
    <%= f.submit :id=>"create-venue" %>
  </div>
<% end %>
>>>>>>> master
</div>
