<div class='row'>
  <h1 class='showpage-venue-name small-10 align-center text-center'><%= @venue.name %></h1>
  <% if @venue.url? %>
    <p class='showpage-link small-10 align-center text-center'><a href="<%=@venue.url%>">Venue Website</a></p>
  <% end %>
</div>
<br />


<div class='row align-self-center venue-details'>
  <div class='small-10 medium-4 columns venue-address-box text-center'>
    <strong>Venue Address:</strong>
    <p>
      <%= @venue.address %><br/>
      <%= @venue.city %>, <%= @venue.state %> <%= @venue.zip %>
    </p>
    <% if @venue.capacity != '' %>
      <strong>Capacity:</strong> <%= @venue.capacity %>
    <% end %>
      <br>
      <br>
    <%= link_to 'Add New Review', new_venue_review_path(@venue), class: 'button' %><br/>
  </div>

  <div class='small-10 medium-4 columns' id='map-container'>
  </div>
  <br />
</div>

<hr />

<% @reviews.each do |review| %>
  <div class="row">
    <div class="columns small-5 medium-1">
      <strong>Votes: </strong>
      <% total_upvotes = Vote.where({ review_id: review.id, up_or_down: "upvote" }).size %>
      <% total_downvotes = Vote.where({ review_id: review.id, up_or_down: "downvote" }).size %>
      <%= total_upvotes - total_downvotes %>
    </div>
    <div class="columns small-5 medium-1">
      <% this_vote = Vote.find_by(user: current_user, review: review) %>
      <% if current_user && !this_vote %>
        <%= link_to 'Upvote',
          votes_path(:vote => { user_id: current_user.id, review_id: review.id, up_or_down: "upvote"}), method: :post %><br/>
        <%= link_to 'Downvote',
          votes_path(:vote => { user_id: current_user.id, review_id: review.id, up_or_down: "downvote"}), method: :post %>
      <% elsif current_user && this_vote.up_or_down === "upvote" %>
        <%= link_to 'Upvoted', vote_path(this_vote), method: :delete %><br/>
        <%= link_to 'Downvote', vote_path(this_vote), method: :put %>
      <% elsif current_user && this_vote.up_or_down === "downvote" %>
        <%= link_to 'Upvote', vote_path(this_vote), method: :put %><br/>
        <%= link_to 'Downvoted', vote_path(this_vote), method: :delete %>
      <% end %>
    </div>
    <div class="columns small-10 medium-8">
      <p>
        <%= review.title %><br />
        <%= review.created_at.strftime("%B %d %Y") %><br />
        <% if review.cost %>
          Cost: <%= review.cost %><br />
        <% end %>
        <% if review.sound_quality %>
          Sound Quality: <%= review.sound_quality %><br/>
        <% end %>
        <% if review.parking %>
          Parking/Accessibility <%= review.parking %><br />
        <% end %>
        <%= review.body %>
      </p>
    </div>
    <div class="columns small-10 medium-2">
      <% if current_user && review.user_id == current_user.id %>
        <%= link_to 'Edit Review', edit_review_path(review), class: 'button' %><br/>
        <%= link_to 'Delete Review', review_path(review), method: :delete, class: 'button' %>
      <% end %>
    </div>
  </div>

  <hr />
  <br/>
<% end %>

<div class='row'>
  <div class='small-10 align-center text-center'
    <%= link_to 'Back to Venues', venues_path %>
  </div>
</div>

<script type="text/javascript">
  var venue_name = '<%= @venue.name %>';
  var venue_address = '<%= @venue.address %>';
  var venue_city = '<%= @venue.city %>';
  var venue_state = '<%= @venue.state %>';
  var venue_zip = '<%= @venue.zip %>';

  var address = `${venue_address}, ${venue_city}, ${venue_state} ${venue_zip}`;

  var map = new google.maps.Map(document.getElementById('map-container'), {
    mapTypeId: google.maps.MapTypeId.TERRAIN,
    zoom: 15
  });

  var geocoder = new google.maps.Geocoder();

  geocoder.geocode({
    'address': address
  },

  function(results, status) {
    if(status == google.maps.GeocoderStatus.OK) {
      new google.maps.Marker({
        position: results[0].geometry.location,
        map: map
      });
      map.setCenter(results[0].geometry.location);
    }
  });
</script>
