<div class='row'>
  <div class='small-10 small-centered text-centered columns'>
    <% if current_user && current_user.admin? %>
    <%= link_to "Update Venue", edit_venue_path(@venue), class: 'button' %>
    <%= link_to "Delete Venue", venue_path(@venue), method: :delete, class: 'button' %>
    <% end %>
  </div>
</div>

<div class='row'>
  <h1 class='columns showpage-venue-name small-10 medium-4 small-centered text-center venue-showpage-details'><%= @venue.name %></h1>
  <% if @venue.url? %>
    <p class='showpage-link small-10 small-centered text-center'><a href="<%=@venue.url%>">Venue Website</a></p>
  <% end %>
</div>
<br />

<div class='row'>
  <div class='venue-address-box small-10 medium-4 small-centered columns text-center venue-showpage-details'>
    <strong>Venue Address:</strong>
    <p>
      <%= @venue.address %><br/>
      <%= @venue.city %>, <%= @venue.state %> <%= @venue.zip %>
    </p>
    <% if @venue.capacity != '' %>
      <strong>Capacity:</strong> <%= @venue.capacity %>
      <br />
    <% end %>
      <br>
    <%= link_to 'Add New Review', new_venue_review_path(@venue), class: 'button add-review' %><br/>
  </div>
</div>
<br>

<div class='row'>
  <div class='small-10 medium-4 small-centered columns map-container' id='map'>
  </div>
  <br />
</div>

<hr />

<% @reviews.each do |review| %>
  <div class="row review-container">
    <div class="columns small-5 medium-1">
      <strong>Votes: </strong>
      <% total_upvotes = Vote.where({ review_id: review.id, up_or_down: "upvote" }).size %>
      <% total_downvotes = Vote.where({ review_id: review.id, up_or_down: "downvote" }).size %>

      <!-- print the actual number of votes -->
      <%= total_upvotes - total_downvotes %>
    </div>

    <!-- Upvote / Downvote Section -->
    <div class="row">
      <div class="small-1 medium-4 columns votes">
        <% this_vote = Vote.find_by(user: current_user, review: review) %>
        <% if current_user && !this_vote %>
          <%= link_to '', votes_path(:vote => { user_id: current_user.id, review_id: review.id, up_or_down: "upvote"}), method: :post, class: 'triangle-up' %>
          <%= link_to '', votes_path(:vote => { user_id: current_user.id, review_id: review.id, up_or_down: "downvote"}), method: :post, class: 'triangle-down' %>
        <% elsif current_user && this_vote.up_or_down === "upvote" %>
          <%= link_to '', vote_path(this_vote), method: :delete, class: 'triangle-up' %><br/>
          <%= link_to '', vote_path(this_vote), method: :put, class: 'triangle-down' %>
        <% elsif current_user && this_vote.up_or_down === "downvote" %>
          <%= link_to '', vote_path(this_vote), method: :put, class: 'triangle-up' %><br/>
          <%= link_to '', vote_path(this_vote), method: :delete, class: 'triangle-down' %>
        <% end %>
      </div>
    </div>

    <!-- Vote Body (Description and Details) -->
    <div class="columns small-10 medium-8">
      <br/>
      <p>
        <%= review.title %><br />
        Submitted: <%= review.created_at.strftime("%B %d %Y") %><br />
        <% if review.cost %>
          <strong>Cost:</strong> <%= review.cost %><br />
        <% end %>
        <% if review.sound_quality %>
          <strong>Sound Quality:</strong> <%= review.sound_quality %><br/>
        <% end %>
        <% if review.parking %>
          <strong>Parking/Accessibility</<strong> <%= review.parking %><br />
        <% end %>
        <%= review.body %>
      </p>
    </div>

    <!-- Buttons for Edit & Delete -->
    <div class="columns small-10 medium-2">
      <% if current_user && review.user_id == current_user.id %>
        <%= link_to 'Edit Review', edit_review_path(review), class: 'button' %><br/>
      <% end %>
      <% if current_user && (review.user_id == current_user.id || current_user.admin?) %>
        <%= link_to 'Delete Review', review_path(review), method: :delete, class: 'button' %>
      <% end %>
    </div>
  </div>

  <hr/>
  <!-- <br/> -->
<% end %>

<div class='row'>
  <div class='small-10 small-centered text-center'>
    <%= link_to 'Back to Venues', venues_path, class: 'button'%>
  </div>
</div>

<script type="text/javascript">
  var venue_name = '<%= @venue.name %>';
  var venue_address = '<%= @venue.address %>';
  var venue_city = '<%= @venue.city %>';
  var venue_state = '<%= @venue.state %>';
  var venue_zip = '<%= @venue.zip %>';

  var address = `${venue_address}, ${venue_city}, ${venue_state} ${venue_zip}`;

  var map = new google.maps.Map(document.getElementById('map'), {
    mapTypeId: google.maps.MapTypeId.TERRAIN,
    zoom: 15
  });

  var geocoder = new google.maps.Geocoder();

  geocoder.geocode({
    'address': address
  },

  function(results, status) {
    if(status == google.maps.GeocoderStatus.OK) {
      new google.maps.Marker({
        position: results[0].geometry.location,
        map: map
      });
      map.setCenter(results[0].geometry.location);
    }
  });
</script>
