<div class='review-box'>

<h1 class='new-header'> Edit Review Form </h1>

<%= form_for (@review) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <p class='error'><%= show_errors(@review, 'Title') %></p>

    <%= f.label :cost %>
    <%= f.collection_radio_buttons :cost, @ratings_collection, :first, :last %>

    <%= f.label :sound_quality, 'Sound Quality' %>
    <%= f.collection_radio_buttons :sound_quality, @ratings_collection, :first, :last %>

    <%= f.label :parking, 'Parking/Accessibility' %>
    <%= f.collection_radio_buttons :parking, @ratings_collection, :first, :last %>

    <%= f.label :body, 'Comments' %>
    <%= f.text_area :body %>

    <div class='submit-container'>
      <%= f.submit "Submit Changes" %>
    </div>
  <% end %>
</div>
