<!DOCTYPE html>
<html>
  <head>
    <title>Venview</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="scrollhide-nav">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <%= link_to "VenView", root_path %>
            </li>
            <li>
              <%= link_to "Venues", venues_path %>
            </li>
            <li><a href="#">Artists</a></li>
            <li>
              <%= form_tag(venues_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search VenView", class: "search-bar"%>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu sign-up">
            <% if user_signed_in? %>
              <li>
                <%= link_to "Signed In As #{current_user.first_name}",
                  user_path(current_user)
                %>
              </li>
              <li>
                <% if current_user.admin? %>
                  <%= link_to "Admin Console", admins_path, class: "button" %>
                <% end %>
              </li>
              <li>
                <%= link_to "Sign Out",
                  destroy_user_session_path, method: :delete
                %>
              </li>
            <% else %>
              <li> <%= link_to "Sign In", new_user_session_path %> </li>
              <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
